@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
img {
  width: 200px;
}
body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.container {
  background-color: #f8f8f8;
  width: 550px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.1);
}
.image-container {
  height: 250px;
  width: 250px;

  border-radius: 50%;
  background-position: center;
  background-size: cover;
}
#cover {
  object-fit: cover;
  width: inherit;
  border-radius: 50%;
  height: inherit;
}
.progress-bar {
  background-color: thistle;
  height: 6px;
  width: 400px;
  margin-top: 30px;
}
.progress {
  background-color: #40e0d0;
  width: 0%;
  height: 6px;
  transition: width 0.1s linear;
}
.button-container {
  margin: 50px 0 0 0;
}
.action-btn {
  background-color: transparent;
  border: none;
  font-size: 20px;
  margin: 0px 20px 0px 20px;
}
.action-btn.action-btn-big {
  color: #633a82;
  font-size: 30px;
}
.action-btn:focus {
  outline: 0;
}
.action-btn:hover {
  transform: scale(1.2);
}
.container h1 {
  margin-bottom: 45px;
}
p {
  margin-top: 40px;
}
